<html>
<head>
<style type="text/css">
body
{
	    background-repeat: no-repeat;
background-color:#FFFFFF;
background-image: -webkit-gradient(linear, left top, left bottom, from(#40930F), to(#FFFFFF)) fixed; /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #40930F, #FFFFFF); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #40930F, #FFFFFF); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #40930F, #FFFFFF); /* IE10 */
  background-image:      -o-linear-gradient(top, #40930F, #FFFFFF); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #40930F, #FFFFFF);
}
p.sansserif{font-family:Arial,Helvetica,sans-serif;}
</style>
</head>

<body>
	
<center>
<div style="float: center; clear: center;">

    <div id="home_logo"><%= link_to image_tag("Title_Big.png", size: "390x70"),  home_path %></div>
    
</div>
</center>

<h1 class="serif" style="font-size:300%;font-weight:bold;color:000000; text-decoration:underline;line-height:50%">About Us</h1>

<!-- <h2 style="font-size: 200%; line-height:125%">What We Are</h2> -->
<p style="font-size:125%;color:808080; text-align: justify;"><b>Apps for Action</b> is an app recommendation engine that allows users to find new free apps that fit their interests and raise money for their favorite charities each time they download one. By using Apps for Action, the simple act of downloading a new free app turns into a real-world positive impact. Our mission is to help users connect to the apps they want, while raising money for the charities they support. </p>

</body>
</html>

<h2 style="font-size: 200%; font-family: Arial, Helvetica, sans-serif;">How It Works</h2>
<ol>
	<li style="font-size: 150%;">You download a recommended free app and open it on your phone.</li>
	<br />
	<li style="font-size: 150%;">App developers pay us when you try out their free app.</li>
	<br>
	<li style="font-size: 150%; font-weight:bold">We donate at least 25 cents to your favorite charity.</li>
</ol>

<br />

<h2 style="font-size: 200%">Our Team</h2>

<div id="Cuy_Box" class="span-4">
<span style="margin-left: 0em;">
<%= image_tag "Cuy_pp.jpg", :size=>"150x150"%></div>
<p style="/*Font-weight: bold*/; font-size: 160%; line-height: 10%"><b style="font-size: 100%">Cuy Sheffield</b>, <i>Chief Executive Officer</i></p>

<div id="Cuy_Text" style="text-align: justify;">
<!-- <span style="margin-left: 6em;"> --><p style="font-size: 115%" float: left;>Cuy is a junior at Pomona College in Claremont, California, studying Sociology. He claims to have figured out <a href="http://entrepreneurshiprockpaperscissors.wordpress.com/2012/02/27/how-to-win-rock-paper-scissors/"> how to beat a high percentage of opponents at rock paper scissors</a>. Cuy takes his pickup basketball career very seriously and is a fan of mediocre NBA role players from the late 90's.</p></div>
	
</span>

<br />
<br />

<div id="Ravi_Box" class="span-4">
<span style="margin-left: 0em;">
<%= image_tag "Ravi_pp.jpg", :size=>"150x150"%></div>
<p style="; font-size: 160%; line-height: 10%"><b>Ravi Reddy</b>, <i>Chief Marketing Officer</i></p>

<div id="Ravi_Text" style="text-align: justify;">
<!-- <span style="margin-left: 6em;"> --><p style="font-size: 115%" float: left;>Ravi is a junior Sociology major at Pomona College. He is known for being an avid bodybuilder who eats 18 eggs each morning. He popularized peanut butter-covered chicken as a dining hall staple for fellow weightlifters. He is a talented impressionist of Bush, Clinton, Obama, Arnold Schwarzenegger, and many others. Ravi also enjoys having spontaneous conversations with people about completely random topics.</p></div>
	
</span>

<br />

<div id="Mike_Box" class="span-4">
<span style="margin-left: 0em;">
<%= image_tag "Mike_pp.jpg", :size=>"150x150"%></div>
<p style="font-size: 160%; line-height: 10%"><b>Mike Moyer</b>, <i>Chief Operating Officer</i></p>

<div id="Mike_Text" style="text-align: justify;">
<!-- <span style="margin-left: 6em;"> --><p style="font-size: 115%" float: left;>Mike is a junior Economics major at Pomona College. He was nicknamed “MoneyMike” thanks to his sharpshooting left-handed jump shot in high school basketball, and the name has stuck with him. He is known for riding a homemade "<a href="http://i213.photobucket.com/albums/cc275/brooklynmachineworks/ScraperBike.jpg">scraper bike</a>" around campus.  Mike is also especially proud to unofficially lead the school in the made-up stat ‘GPA per hour spent on homework.’</p></div>
	
</span>

<br />

<div id="Eugene_Box" class="span-4">
<span style="margin-left: 0em;">
<%= image_tag "Eugene_pp.jpg", :size=>"150x150"%></div>
<p style="font-size: 160%; line-height: 10%"><b>Eugene Aarons-Cooke</b>, <i>Chief Technology Officer</i></p>

<div id="Eugene_Text" style="text-align: justify;">
<!-- <span style="margin-left: 6em;"> --><p style="font-size: 115%" float: left;>Eugene is a junior Economics major at Pomona College. He likely spends more time on the computer than he should, but if Wikipedia were down for the day and you needed an answer, he would be your best bet. Eugene is a talented photographer and avid technology buff, but wonders what happened to those flying cars The Jetsons promised by the early 2000s.</p></div>
	
</span>

<br />

<div id="Darrell_Box" class="span-4">
<span style="margin-left: 0em;">
<%= image_tag "Darrell_pp.jpg", :size=>"150x150"%></div>
<p style="font-size: 160%; line-height: 10%"><b>Darrell Jones</b>, <i>Chief Communications Officer</i></p>

<div id="Darrell_Text" style="text-align: justify;">
<!-- <span style="margin-left: 6em;"> --><p style="font-size: 115%" float: left;>Darrell, aka DJ3, is a sophomore Philosophy, Politics, & Economics major at Pomona College. He
often makes a scene in the dining halls because of his unmistakable laugh - it sounds like a seal barking and leaves him incapacitated. He loves playing catch, eating granola, and watching poorly dubbed films. </p></div>
	
</span>


<!-- <div style='text-align: top-right; width: 150px; float: left;'>
<%= image_tag("Cuy_pp.jpg", :size => "150x150", :alt => "Cuy Sheffield") 
%>
</div> -->


<!-- <br />
<%= image_tag("Cuy_pp.jpg", :size => "150x150", :alt => "Cuy Sheffield") 
%> <style="text-wrap:top">This is some text</style> -->
