<head> 
<script href="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!-- ../../../public/javascripts/jquery.min.js -->
<script href="https://raw.github.com/tobia/CrossSlide/master/jquery.cross-slide.min.js"></script>		
<!-- 	../../../public/javascripts/jquery.cross-slide.min.js -->
</head>

<div id="main_left" class="span-8">
<center>
<span style="margin-top: -2em; float:left">
<script>
  $(function() {
    $('#slideshow').crossSlide({
      sleep: 2,
      fade: 1
    }, [
      { <%= image_tag("Screenshot.png", :size=>"315x551")%> },
      { <%= image_tag("Screenshot2.png", :size=>"315x551")%> },
      { <%= image_tag("Screenshot3.png", :size=>"315x551")%> },
      { <img src: '../../../public/images/screenshot.png' /> }
    ])
  });
</script>	

	
<%= image_tag("Screenshot.png", :size=>"315x551")%>
</span>
</center>
</div>

<div id="main_right" class="span-11 last">
  <center>  
    <div style="float:top; margin-top: 0em; margin-right: 9em;" id="home_logo"><%= link_to image_tag("Apps_for_Action.png", :size=>"500x102"),  home_path %></div>

<!-- This controls the style, font, and bacground color of the call-to-action text. -->
<!-- <div id="outerDiv" style="position: relative; left:70px; border: 0px solid green; width: 500px; height: 450px; float: right; clear: right; margin-bottom: 2em; margin-left: 2em"> -->

<div id="outerDiv" style="position: relative; left:70px; border: 2px solid green; width: 500px; height: 400px; float: right; clear: right; margin-bottom: 2em; margin-left: 2em; border-radius:10px; -moz-border-radius:10px;-moz-box-shadow: 5px 5px 2.5px #669900; /* Firefox 3.6 and earlier */
box-shadow: 5px 5px 2.5px #669900;">

<div id="semiTransparentDiv" style="position: absolute; background-color: white; filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75; height: 100%; width: 100%; z-index: 1;-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;"></div>

<div id="contentDiv" style="position: relative; z-index: 2; padding: 10px; color: black; text-align:left; font-size:120%; font-family: Arial, Helvetica, sans-serif; line-height:125%">Looking for the coolest new free apps on your Android phone? <br /> <br /> Our app recommends free apps that you would like. Each time you download a free app, <b>25 cents is donated</b> to your favorite charity. <br /> <br /> That’s right! You find the free apps you want, <i><b>and</b></i> support the causes you care about. <br /> <br /> <b><style="text-align:center">What are you waiting for?</b></style></div>

</div>

  <br />

<div style="float: left;"><a href="http://twitter.com/share" class="twitter-share-button" data-url="www.appsforaction.com" data-text="Check out this app!" data-count="horizontal" data-via="appsforaction">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
<div style="float: left;">        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
              <fb:like></fb:like></div>

</html>