<footer style="font-size:175%">
        <%= link_to "Home", home_path %> &middot; 
        <%= link_to "About", about_path %> &middot;
<a href="http://apps4action.wufoo.com/forms/z7x3k7/" onclick="window.open(this.href,  null, 'height=320, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Suggest a Charity</a> &middot;

        <%= link_to "Privacy", privacy_path %> &middot;
        <%= link_to "Terms", terms_path %> &middot;
<a href="http://apps4action.wufoo.com/forms/m7x3w7/" onclick="window.open(this.href,  null, 'height=320, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Contact Us</a>        <%#&middot;%>
        <%#<%= link_to "FAQ", faq_path%>
        <br/>
&copy;Apps for Action 2012. All rights reserved.
</footer>
