<div></div>
<footer style="font-size:150%; font-family:Arial,Helvetica,sans-serif;">
        <%= link_to "Home", home_path %> &middot; 
        <%= link_to "About", about_path %> &middot;
        <%= link_to "Team", team_path %> &middot;

<a href="http://apps4action.wufoo.com/forms/m7x3w7/" onclick="window.open(this.href,  null, 'height=320, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Contact Us</a> &middot;

<a href="http://AppsforAction.Wordpress.com/">Blog</a> <!-- &middot; -->      
        <br/>

<a style="font-size:90%;" href="http://apps4action.wufoo.com/forms/z7x3k7/" onclick="window.open(this.href,  null, 'height=320, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Add a Charity &middot;</a>

        <a style="font-size:90%;" <%= link_to "Privacy", privacy_path %> &middot; </a>
       
        <a style="font-size:90%;" <%= link_to "Terms", terms_path %> </a>

        <%#<%= link_to "FAQ", faq_path%>
        
        

<h2 style="font-size:50%; line-height: 75%">&copy;Apps for Action 2011-2012. All rights reserved.</h2>

<!-- <a href="http://AppsforAction.Wordpress.com/" onclick="window.open(this.href,  null, 'height=850, width=835, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Blog</a> &middot; -->

</footer>
