<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= raw clicky %>
    <%= raw google_analytics_js %>
<link href='http://fonts.googleapis.com/css?family=Varela&v2' rel='stylesheet' type='text/css'>
<meta name="google-site-verification" content="m5xswrGy8Cn1IQhKyfjn5AtIzbht4pOuH9MxlZnj6h0" />




  </head>
  <body>
    <div id="<%= @title.downcase %>">
      <div id="top">
        <div class="container">
          <%= render 'layouts/header' %> 
        </div>
      </div>
      <div class="container">
        <div id="content">
        <%= yield %>
        </div>
        <hr>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
