<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= raw clicky %>
    <%= raw google_analytics_js %>
<link href='http://fonts.googleapis.com/css?family=Varela&v2' rel='stylesheet' type='text/css'>
<meta name="google-site-verification" content="m5xswrGy8Cn1IQhKyfjn5AtIzbht4pOuH9MxlZnj6h0" />
<meta name="google-site-verification" content="Va_CrOxWTV_5rb7AAfGHfXsweHFFhWDBDk5t7TIf-fk" />

<meta property="og:type" content="website" />
<meta property="og:title" content="Apps for Action" />
<meta property="og:url" content="http://www.appsforaction.com" />
<meta property="og:image" content="http://www.appsforaction.com/fbicon.jpg" />
<meta property="og:description" content="Apps for Action allows you to support your favorite charities for free, while discovering new apps." />

<script src="../../../public/javascripts/jquery.min.js"></script>
<script src="../../../public/javascripts/jquery.cross-slide.min.js"></script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30242628-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
    <div id="<%= @title.downcase %>">
      <div id="top">
        <div class="container">
          <%= render 'layouts/header' %> 
        </div>
      </div>
      <div class="container">
        <div id="content">
        <%= yield %>
        </div>
        <hr>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
