<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
<!--    <%= raw clicky %>
<%= raw google_analytics_js %>-->
<link rel="stylesheet" href="http://launchrock.com/api/lr.api.0.2.css">
<script src="http://launchrock.com/api/lr.api.0.5-min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Varela&v2' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/favicon.ico" />




  </head>
  <body>
    <div id="top">
    <div class="container">
      <%= render 'layouts/header' %> 
    </div>
    </div>
    <div class="container">
      <div id="content">
      <%= yield %>
      </div>
      <hr>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
